@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border: 2px solid black;
    border-radius: 9999px;
    padding: 0.25rem;
    min-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}